# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# VS Code
.vscode/

# Testes
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Ferramentas
.mypy_cache/
.ruff_cache/

# Build
build/
dist/
*.spec
*.egg-info/

# Logs e temporários
*.log
logs/
temp/
tmp/

# Saídas da aplicação
output/

# Sistema
Thumbs.db
Desktop.ini
.DS_Store